* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #333552
}

header {
    padding: 30px;
    font-family: 'Arial', sans-serif;
    background-color: #151325;
}

header h1 {
    display: inline-block;
    font-size: 150%;
    color: #ffffff;
}

header div {
    padding-bottom: 20px;
    float: right;
    margin-right: 25px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header div ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 150%; 
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    padding-bottom: 2px;
}

.banner {
    display: block;
    background-image: url(../images/banner.jpg);
    background-position: center 800px;
    background-size: 100%;
    padding: 0 0 250px 0;
    margin-bottom: 20px;
}

article {
    display: flex;
    justify-content: center;
}

p {
    max-width: 800px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #cddbe7;
    font-size: 300%;
    padding-right: 20px;
}

figure {
    padding: 10px;
}

figcaption { 
    font-family: sans-serif;
    color: #000000;
    background-color: #1f2121;
    font-size: 170%;
    font-weight: bold;
    position: relative;
    bottom: 110px;
    left: 20px;
}


img {
    border-style: solid;
    border-width: 6px;
    border-color: #1f2121;
  }

.project1 {
    padding-right: 424px;
}

.img1 {
    width: 205%;
    height: auto;
}


.imga {
    width: 100%;
    height: auto;
}


.container {
    display: inline;

}

.wrapper {
    padding: 50px 25px;
}

.border {
    padding: 1%;
    border-width: 6px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to bottom,
        #cddbe7, 
        #818b93, 
        #00000000
        ) 1 0 0 100%;
}

aside {
    color: #fff;
    float: left;
    width: 30%;
    text-align: right;
    }

.content {
    float: left;
    width: 70%;
}

.workflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


@media (max-width: 480px) {
    h2 {
      font-size: 20px;
    }

    header h1 {
      font-size: 16px;    
    }

    header div ul li {
        display: inline;
        margin-left: 5px;
    }    

    header div ul li a {
      font-size: 15px;
      text-align: center;
    }
    
    p {
        padding-left: 10px;
    }

  }

  @media (max-width: 930px) {
    .project1 {
        padding-right: 0;
    }
    .img1 {
        width: 100%;
        height: auto;
    }
    p {
        padding-left: 10px;
    }
    
  }