* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333552
}

header {
    padding: 30px;
    font-family: 'Arial', sans-serif;
    background-color: #151325;
}

header h1 {
    display: inline-block;
    font-size: 150%;
    color: #ffffff;
}

header section {
    float: right;
    margin-right: 25px;
    padding-bottom: 20px;
}

header section ul {
    list-style-type: none;
}

header section ul li {
    display: inline-block;
    margin-left: 25px;
}

header section ul li a {
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    padding-bottom: 2px;
    font-size: 150%; 
    text-decoration: none;
    color: #ffffff;
}

h2 {
    padding-right: 20px;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    color: #cddbe7;
}

aside {
    color: #fff;
    float: left;
    width: 30%;
    text-align: right;
    }

figure {
    position: relative;
    padding: 0px 10px 15px 10px;
}

figure section {
    position: relative;
}

figcaption { 
    position: absolute;
    bottom: 30px;
    padding: 10px;
    font-size: 170%;
    background-color: #191d2c;
}

.banner {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 200px;
    background-image: url(../images/banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.alignment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    float: left;
    clear: both;
    font-size: 110%;
    line-height: 1.5;
    font-family: Helvetica, arial, sans-serif;
    color: #cddbe7;
}
 
.avatar {
    flex-basis: 40%;
    max-width: 30%;
    padding-left: 10px;
    border-radius: 30px;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 880px;
    padding-bottom: 25px;
}

.wrapper {
    padding: 2px 20px;
    border-left: 5px;
    border-style: solid;
    border-color: #cddbe7;
}

.workflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.image-container {
    position: relative;
}

.caption {
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #cddbe7;
}


.description {
    font-family: 'Arial Narrow Bold', sans-serif;
    color: #cddbe7;
    padding-top: 5px;
    font-size: 60%;
}

.project1 {
    padding-right: 424px;
}

.img1 {
    width: 202%;
    height: auto;
}

.img1, .img2 {
    border-style: solid;
    border-width: 6px;
    border-color: #191d2c;
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 99%;
    border-style: solid;
    border-width: 6px;
    border-color: #191d2c;
    background: #61519780;
    color: #ffffff;
    transition: all 0.6s ease-out;
    
}

#overlayproj1 {
    width: 202%;
    height: 99.8%;
}

.contactbutton-wrap {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 55px;
    padding-left: 26px;
    margin-top: 10px;
} 

.contactbutton {
    padding: 14px 28px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: #cddbe760;
    background-color: #191d2ca4;
    font-size: 160%;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #cddbe7;
}

.contactbutton:hover {
    background-color: #5d73b5;
    color: #ffffff;
}

.image-container:hover .overlay {
    background: #00000000;
}


@media (max-width: 1250px) {

    .banner {
        padding-bottom: 100px;
    }

}


@media (max-width: 975px) {
    
    p {
        padding-left: 10px;
    }

    .banner {
        padding-bottom: 25px;
    }
    
    .alignment{
        flex-wrap: wrap;
    }

    .project1 {
        padding-right: 0;
    }

    .img1 {
        width: 65%;
        height: auto;
    }

    .overlay {
        display: none;
        
    }
    

}

@media (max-width: 480px) {
    
    header h1 {
        font-size: 16px;    
    }
    
    header section ul li {
        display: inline;
        margin-left: 5px;
    }    
    
    header section ul li a {
        font-size: 15px;
        text-align: center;
    }
    
    h2 {
      font-size: 20px;

    }

    p {
        padding-left: 10px;
    }

}

