* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #333552
}

header {
    padding: 30px;
    font-family: 'Arial', sans-serif;
    background-color: #151325;
}

header h1 {
    display: inline-block;
    font-size: 150%;
    color: #ffffff;
}

header div {
    padding-bottom: 20px;
    float: right;
    margin-right: 25px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header div ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 150%; 
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    padding-bottom: 2px;
}

.banner {
    display: block;
    background-image: url(../images/banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0 0 250px 0;
    margin-bottom: 20px;
}

article {
    display: flex;
    justify-content: center;
}

.text {
    font-family: Helvetica, arial, sans-serif;
    color: #cddbe7;
    line-height: 1.9;
    max-width: 800px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #cddbe7;
    font-size: 300%;
    padding-right: 20px;
}

figure {
    padding: 0px 10px 0px 10px;
    position: relative;
}

figcaption { 
    background-color: #19273d;
    padding: 10px;
    font-size: 170%;
    position: absolute;
    bottom: 30px;
}

.caption {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 5px;
}

.description {
    font-family: 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    padding-top: 5px;
    font-size: 60%;
}

img {
    border-style: solid;
    border-width: 6px;
    border-color: #19273d;
  }

.project1 {
    padding-right: 424px;
}

.img1 {
    width: 205%;
    height: auto;
}


.imga {
    width: 100%;
    height: auto;
}


.container {
    display: inline;

}

.wrapper {
    padding: 2px 20px;
}

.image-container {
    position: relative;
    
}

.overlayp1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 205%;
    height: 99.45%;
    /* width: 100%;
    height: 99%; */
    display: none;
    color: #FFF;
    transition: all 0.6s ease-out;
}

.overlayp1 {
    display: block;
    background: #61519780;
}

.image-container:hover .overlayp1 {
    background: rgba(0, 0, 0, 0);
}

.overlayborder {
    border-style: solid;
    border-width: 6px;
    border-color: #19273d;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    display: none;
    color: #FFF;
    transition: all 0.6s ease-out;
}

.overlay {
    display: block;
    background: #61519780;
}

.image-container:hover .overlay {
    background: rgba(0, 0, 0, 0);
}

.border {
    border-left: 5px;
    border-style: solid;
    border-color: #cddbe7;
}

aside {
    color: #fff;
    float: left;
    width: 30%;
    text-align: right;
    }

.content {
    float: left;
    width: 70%;
    padding-bottom: 25px;
}

.workflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content ul li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 55px;
    padding-left: 60px;
} 

 .content ul li a {
    color: #cddbe7;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 160%;
    font-weight: bold; 
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #cddbe7;
    

}



@media (max-width: 480px) {
    h2 {
      font-size: 20px;
    }

    header h1 {
      font-size: 16px;    
    }

    header div ul li {
        display: inline;
        margin-left: 5px;
    }    

    header div ul li a {
      font-size: 15px;
      text-align: center;
    }
    
    p {
        padding-left: 10px;
    }

    .content ul li {
        padding-bottom: 30px;
        padding-left: 5px;
    }

    .content ul li a {
        font-size: 20px;
    }
    
}

  @media (max-width: 975px) {
    .project1 {
        padding-right: 0;
    }
    .img1 {
        width: 100%;
        height: auto;
    }
    p {
        padding-left: 10px;
    }
    
    .overlayborder {
        display: none;
        
    }

}